#luckies-wrapper {
    padding: 2em 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

#heading-ct {
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;

    /*background: rgba(76, 76, 76, 0.5);*/
    /*border-radius: 16px;*/
    /*box-shadow: 0 4px 5px rgba(0, 0, 0, 0.5);*/
    /*backdrop-filter: blur(5px);*/
    /*-webkit-backdrop-filter: blur(5px);*/
    /*border: 1px solid rgba(149, 149, 149, 0.3);*/
}

#heading-ct img {
    width: 100%;
    object-fit: contain;
}

#luckies-wrapper h2 {
    color: rgba(255, 255, 255, 0.8);
    font-weight: 400;
}

#heading-ct h1 {
    z-index: 1;
    /*color: #A48385;*/
    text-shadow: 0 4px 5px rgba(0, 0, 0, 0.5);
}

#luckies-wrapper h2 {
    font-size: 1.3em;
    text-shadow: 2px 2px 2px rgb(27, 26, 26);
    /*animation: heartBeat; !* referring directly to the animation's @keyframe declaration *!*/
    /*animation-duration: 4s; !* don't forget to set a duration! *!*/
}

#luckyForm {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
}

#zodiac-sign-form-ct {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
    margin-bottom: 0.5em;
}

.zodiac-signs-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    row-gap: 2em;
    justify-content: space-between;
}

.zodiac-sign {
    width: 5.5em;
    height: 5.5em;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5em 0.3em;


    background: rgba(255, 255, 255, 0.8);
    border-radius: 16px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.zodiac-sign label {
    color: #4a4a4a;
    font-weight: 400;
}

.sign-date {
    font-size: 0.6em;
}

.sign-image {
    width: 100%;
    min-height: 45%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    /*box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);*/
}

.sign-image img {
    width: 45%;
    height: 80%;
}

/* Hide the radio input */
.zodiac-sign input[type="radio"] {
    display: none;
}

.zodiac-sign:hover {
    /*background-color: #bababa;*/
}

.zodiac-sign:has(input[type="radio"]:checked) {
    background: rgba(251, 243, 197, 0.8); /* or any color/style you want for the selected state */
    /*border: 1px solid #b6b6b6;*/
}


/*,*/
/*,*/
/*,*/
/*,*/
/*,*/
/*,*/


#luckyTypeContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5em;
}

#luckyTypeContainer h2 {
    text-align: center;
}


#lucky-type-options {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5em;
    width: 100%;
}

.lucky-option {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 3em;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 25px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.3);
    font-size: 1em;
    color: #4a4a4a;
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
}

.lucky-option:hover {
    /*background: #bababa;*/
}

.lucky-option input {
    display: none; /* Hide default radio button */
}

.lucky-option input:focus {
    outline: none;
}

.lucky-option:has(input[type="radio"]:checked) {
    background: rgba(251, 243, 197, 0.8);
}

/*.lucky-option input:checked + span {*/
/*    all: unset;*/
/*    width: 100%;*/
/*    height: 3em;*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    justify-content: center;*/
/*    background: rgba(251, 243, 197, 0.5);*/
/*    !*border: 1px solid #b6b6b6;*!*/
/*    border-radius: 25px;*/
/*    margin: auto;*/
/*    outline: none;*/
/*}*/

.lucky-option {
    -webkit-tap-highlight-color: transparent;
}


#submitBtn {
    width: 100%;
    height: 4em;
    background: rgba(37, 110, 57, 0.5);
    border-radius: 25px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 0.5em;
    color: rgb(255, 255, 255);
    font-size: 0.8em;
}

#horoscopeTypeContainer {
    width: 50%;
    max-height: 0;
    display: flex;
    justify-content: space-around;
    overflow: hidden;
    opacity: 0;
    transition: max-height 0.5s ease, opacity 0.5s ease, width 0.5s ease;

}

/* When visible */
#horoscopeTypeContainer.visible {
    width: 100%;
    display: flex;
    justify-content: space-around;
    max-height: 500px; /* Enough room for inner content */
    opacity: 1;
}


.horoscope-option {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
    height: 2.5em;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 25px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.3);
    font-size: 1em;
    color: #4a4a4a;
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    transition: max-height 0.5s ease, opacity 1.5s ease;
    -webkit-tap-highlight-color: transparent;
}

.horoscope-option:hover {
    /*background-color: #bababa;*/
}

.horoscope-option.selected {
    background: rgba(251, 243, 197, 0.8);
}

/*.horoscope-option.selected {*/
/*    all: unset;*/
/*    width: 40%;*/
/*    height: 2.5em;*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    background: rgba(251, 243, 197, 0.8);*/
/*    !*border: 1px solid #b6b6b6;*!*/
/*    border-radius: 25px;*/
/*    outline: none;*/
/*}*/


/*.selectable-card {*/
/*  border-radius: 25px;*/
/*  transition: background-color 0.1s ease;*/
/*}*/

/*.selectable-card:hover {*/
/*  background: rgba(232, 224, 177, 0.8);*/
/*}*/


/*.selectable-card:has(input:checked) {*/
/*  background: rgba(251, 243, 197, 0.8);*/
/*}*/