{% extends 'base/base.html' %}
{% load static %}

{% block title %}
    Зодиакални късмети
{% endblock %}


{% block content %}
    <div id="luckies-wrapper">

        <form id="luckyForm" method="POST">
            {% csrf_token %}

            <div id="heading-ct">

                {#                <img src="{% static 'images/heading-bg.jpg' %}">#}
                <h1>Зодиакални късмети</h1>

            </div>

            <div id="zodiac-sign-form-ct">

                <h2>Изберете вашата зодия</h2>

                <!-- Zodiac Sign Selection rendered via RadioSelect -->
                <div class="zodiac-signs-container">

                    <label class="zodiac-sign" id="aries-choice" for="{{ form.zodiac_signs.aries.id_for_label }}">
                        <div class="sign-image"><img src="{% static 'images/aries.png' %}" alt="Овен"></div>
                        {{ form.zodiac_signs.aries }}
                        <p class="sign-date">(25.15 - 15.32)</p>
                    </label>

                    <label class="zodiac-sign" id="taurus-choice" for="{{ form.zodiac_signs.taurus.id_for_label }}">
                        <div class="sign-image"><img src="{% static 'images/taurus.png' %}" alt="Телец"></div>
                        {{ form.zodiac_signs.taurus }}
                        <p class="sign-date">(25.15 - 15.32)</p>
                    </label>

                    <label class="zodiac-sign" id="gemini-choice" for="{{ form.zodiac_signs.gemini.id_for_label }}">
                        <div class="sign-image"><img src="{% static 'images/gemini.png' %}" alt="Близнаци"></div>
                        {{ form.zodiac_signs.gemini }}
                        <p class="sign-date">(25.15 - 15.32)</p>
                    </label>

                    <label class="zodiac-sign" id="cancer-choice" for="{{ form.zodiac_signs.cancer.id_for_label }}">
                        <div class="sign-image"><img src="{% static 'images/cancer.png' %}" alt="Рак"></div>
                        {{ form.zodiac_signs.cancer }}
                        <p class="sign-date">(25.15 - 15.32)</p>
                    </label>

                    <label class="zodiac-sign" id="leo-choice" for="{{ form.zodiac_signs.leo.id_for_label }}">
                        <div class="sign-image"><img src="{% static 'images/leo.png' %}" alt="Лъв"></div>
                        {{ form.zodiac_signs.leo }}
                        <p class="sign-date">(25.15 - 15.32)</p>
                    </label>

                    <label class="zodiac-sign" id="virgo-choice" for="{{ form.zodiac_signs.virgo.id_for_label }}">
                        <div class="sign-image"><img src="{% static 'images/virgo.png' %}" alt="Дева"></div>
                        {{ form.zodiac_signs.virgo }}
                        <p class="sign-date">(25.15 - 15.32)</p>
                    </label>

                    <label class="zodiac-sign" id="libra-choice" for="{{ form.zodiac_signs.libra.id_for_label }}">
                        <div class="sign-image"><img src="{% static 'images/libra.png' %}" alt="Везни"></div>
                        {{ form.zodiac_signs.libra }}
                        <p class="sign-date">(25.15 - 15.32)</p>
                    </label>

                    <label class="zodiac-sign" id="scorpio-choice" for="{{ form.zodiac_signs.scorpio.id_for_label }}">
                        <div class="sign-image"><img src="{% static 'images/scorpio.png' %}" alt="Скорпион"></div>
                        {{ form.zodiac_signs.scorpio }}
                        <p class="sign-date">(25.15 - 15.32)</p>
                    </label>

                    <label class="zodiac-sign" id="sagittarius-choice"
                           for="{{ form.zodiac_signs.sagittarius.id_for_label }}">
                        <div class="sign-image"><img src="{% static 'images/sagittarius.png' %}" alt="Стрелец"></div>
                        {{ form.zodiac_signs.sagittarius }}
                        <p class="sign-date">(25.15 - 15.32)</p>
                    </label>

                    <label class="zodiac-sign" id="capricorn-choice"
                           for="{{ form.zodiac_signs.capricorn.id_for_label }}">
                        <div class="sign-image"><img src="{% static 'images/capricorn.png' %}" alt="Козирог"></div>
                        {{ form.zodiac_signs.capricorn }}
                        <p class="sign-date">(25.15 - 15.32)</p>
                    </label>

                    <label class="zodiac-sign" id="aquarius-choice" for="{{ form.zodiac_signs.aquarius.id_for_label }}">
                        <div class="sign-image"><img src="{% static 'images/aquarius.png' %}" alt="Водолей"></div>
                        {{ form.zodiac_signs.aquarius }}
                        <p class="sign-date">(25.15 - 15.32)</p>
                    </label>

                    <label class="zodiac-sign" id="pisces-choice" for="{{ form.zodiac_signs.pisces.id_for_label }}">
                        <div class="sign-image"><img src="{% static 'images/pisces.png' %}" alt="Риби"></div>
                        {{ form.zodiac_signs.pisces }}
                        <p class="sign-date">(25.15 - 15.32)</p>
                    </label>

                </div>

            </div>


            <!-- Lucky Type Selection (Initially hidden) -->
            <div id="luckyTypeContainer">
                <h2>Изберете категория</h2>

                <div id="lucky-type-options">
                    <label class="lucky-option">
                        <input type="radio" name="lucky_type" value="quote" required>
                        <span>Цитат от известна личност от вашата зодия</span>
                    </label>

                    <label class="lucky-option">
                        <input type="radio" name="lucky_type" value="wisdom">
                        <span>Мъдрост на знака</span>
                    </label>

                    <label class="lucky-option">
                        <input type="radio" name="lucky_type" value="element">
                        <span>Стихия</span>
                    </label>

                    <label class="lucky-option">
                        <input type="radio" name="lucky_type" value="horoscope">
                        <span>Хороскоп</span>
                    </label>
                </div>
            </div>

            <div id="horoscopeTypeContainer" style="display: none; margin-top: 1em;">
                <label for="id_horoscope_type">Изберете вид хороскоп:</label>
                <select name="horoscope_type" id="id_horoscope_type" required>
                    <option value="" selected disabled>Изберете...</option>
                    <option value="daily">Дневен</option>
                    <option value="weekly">Седмичен</option>
                    <option value="monthly">Месечен</option>
                </select>
            </div>


            <!-- Initially hidden submit button -->
            <button type="submit" id="submitBtn">Готово</button>
        </form>


    </div>
{% endblock %}

{% block scripts %}

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const luckyTypeRadios = document.querySelectorAll('input[name="lucky_type"]');
            const horoscopeContainer = document.getElementById("horoscopeTypeContainer");

            luckyTypeRadios.forEach(radio => {
                radio.addEventListener("change", () => {
                    if (radio.value === "horoscope") {
                        horoscopeContainer.style.display = "block";
                    } else {
                        horoscopeContainer.style.display = "none";
                    }
                });
            });
        });

        document.addEventListener("DOMContentLoaded", function () {
            const zodiacSigns = document.querySelectorAll('.zodiac-sign input[type="radio"]');
            const luckyTypeContainer = document.getElementById('luckyTypeContainer');

            zodiacSigns.forEach(function (zodiac) {
                zodiac.addEventListener('change', function () {
                    luckyTypeContainer.scrollIntoView({behavior: 'smooth'});
                });
            });
        });
    </script>

{% endblock %}

