#element-wrapper {
    flex-grow: 1;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5em;
    margin-top: 2em;
}

#element-wrapper h1 {
    text-shadow: 0 4px 5px rgba(0, 0, 0, 0.5);
}

#element-wrapper p {
    color: #d3d0d0;
}

#element-img-ct {
    width: 2.5em;
    height: 2.5em;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.5em;


    background: rgba(244, 244, 244, 0.9);
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

#element-img-ct img {
    width: 97%;
    height: 97%;
    border-radius: 50%;
}

#element-ct {
    width: 90%;
    /*background-color: rgba(0, 0, 0, 0.5);*/
    padding: 2em;


    background: rgba(96, 96, 96, 0.5);
    border-radius: 16px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

#element-testimonial {
    color: rgba(255, 255, 255, 1);
    text-align: end;
}

#element-author {
    font-size: 0.8em;
}


#top-line-el, #bottom-line-el {
    margin-left: 25%;
    position: relative;
    width: 50%;
    height: 15px;
}

#top-line-el img, #bottom-line-el img {
    position: absolute;
    width: 100%;
    height: 100%;
}

#top-line-el {
    margin-bottom: 1em;
}

#bottom-line-el {
    margin-top: 1em;
}

#earth-el {
    color: #50826A;
}

#fire-el {
    color: #E46D14;
}

#air-el {
    color: #876C9C;
}

#water-el {
    color: #15A8B9;
}