{% extends 'base/base.html' %}
{% load static %}

{% block content %}

    <div id="quote-wrapper">
    
        <h1>Зодиакални късмети</h1>
        
        <div id="sign-ct"><img src="{% static 'images/' %}{{ zodiac_sign_eng|lower }}.png" alt="{{ zodiac_sign }}"></div>

        <div id="quote-ct">
            
            <div id="top-line"><img src="{% static 'images/divider.png' %}"></div>

            <h2 id="quote">{{ content }}</h2>
            <div id="testimonial">

                <p id="author">{{ author }} <span>(Зодия {{ zodiac_sign }})</span></p>

            </div>
            
            <div id="bottom-line"><img src="{% static 'images/divider.png' %}"></div>


        </div>

    </div>


{% endblock %}