{% load static %}


<div class="display-inner-ct">

    <div class="sign-ct"><img class="sign-circle" src="{% static 'images/sign-circle.png' %}"><img src="{% static 'images/' %}{{ zodiac_sign_eng|lower }}.png" alt="{{ zodiac_sign }}">
    </div>

    <div class="content-ct">

        <h2 class="content short-content">{{ content }}</h2>
        <div class="reference-ct">

            <p class="reference">Сентенции за <span>Зодия {{ zodiac_sign }}</span></p>

        </div>


    </div>

</div>


