header {
    width: 100%;
    background-color: rgb(38, 40, 53);
    box-shadow: 0 4px 8px 0 rgba(255, 242, 242, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
    display: none;
}

#header-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5em;
}


@media (max-width: 1200px) {
    header {
        padding: 0.5em 2em;
    }
}

@media (max-width: 570px) {
    header {
        padding: 0.5em 2em;
    }
}

